/* styles.css */

.app-bar {
  background-color: #123456; /* Customize your navbar color */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  margin-right: 16px;
  height: 7vh;
  display: flex;
  align-items: center;
}

.title {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.desktop-menu {
  display: none;
}

.desktop-menu-item {
  color: white; /* Adjust based on your app's theme */
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease-in-out;
}

.desktop-menu-item:hover {
  color: #ccc; /* Lighter shade for hover effect */
}

/* Responsive adjustments */
@media screen and (min-width: 600px) {
  .desktop-menu {
    display: flex;
  }

  .menu-button {
    display: none;
  }
}

.drawer-list {
  width: 250px; /* Adjust drawer width as needed */
}

.drawer-item {
  transition: background-color 0.3s ease-in-out;
}

.drawer-item:hover {
  background-color: #f4f4f4; /* Light background on hover */
}
